body {
    margin: 0;
    overflow: hidden;
    background-color: #1b1e00;
  }

  canvas {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  button {
    color: black;
    margin: auto;
    display: block;
    padding: 10px 30px;
    font-size: 18px;
    background: #fffa00;
    cursor: pointer;
    border: none;
  }